<template>
    <div class="home">
        <v-container class="md">
            <v-row justify="center">
                <span class="text-h4">Welcome to Toom2</span>
            </v-row>
            <br />
            <br />
            <v-row>
                <v-col cols="6">
                    <v-card>
                        <v-card-title @click="createSession"
                            >Create a session</v-card-title
                        >
                    </v-card>
                </v-col>
                <v-col cols="6">
                    <v-card>
                        <v-card-title>Join a session </v-card-title>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class Home extends Vue {
    createSession() {
        console.log("creating session");
        const newSocket = new WebSocket(this.$store.state.socketConfig);
        this.$store.commit("setSocket", newSocket);
        newSocket.onmessage = msg => {
            // console.log(msg);
            this.$store.commit("setSession", {
                sessionId: msg.data
            });
            this.$router.push({
                path: `session/${msg.data}`
            });
        };
        newSocket.onopen = () => {
            console.log("open");
            newSocket.send(
                JSON.stringify({
                    command: "create-session"
                })
            );
        };
    }
}
</script>
