<template>
    <div class="session">
        <v-container class="md">
            <v-row justify="center">
                <span class="text-h5">Session {{ sessionId }}</span>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class Session extends Vue {
    sessionId = "";
    mounted() {
        this.sessionId = this.$route.params.sessionId;
        if (this.sessionId) {
            this.joinSession();
        }
    }

    joinSession() {
        console.log("joining session");
        if (!this.$store.state.socket) {
            const newSocket = new WebSocket(this.$store.state.socketConfig);
            this.$store.commit("setSocket", newSocket);
        }
        const socket = this.$store.state.socket as WebSocket;
        socket.onmessage = msg => {
            // console.log(msg);
            this.$store.commit("setSession", {
                sessionId: msg.data
            });
            this.$router.push({
                path: `session/${msg.data}`
            });
        };

        const join = () => {
            socket.send(
                JSON.stringify({
                    command: "join-session",
                    payload: this.sessionId
                })
            );
        };
        socket.onopen = () => {
            join();
        };
        if (socket.readyState === WebSocket.OPEN) {
            join();
        }
    }
}
</script>
