<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <span class="text-h4">Toom</span>
            <v-spacer></v-spacer>
        </v-app-bar>
        <v-main>
            <router-view />
        </v-main>
    </v-app>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class App extends Vue {}
</script>
